
body{
    background: rgb(190,203,185);
background: radial-gradient(circle, rgba(190,203,185,1) 0%, rgba(186,198,181,1) 5%, rgba(184,195,180,1) 8%, rgba(185,196,181,1) 14%, rgba(185,196,181,1) 18%, rgba(186,197,182,1) 22%, rgba(187,198,183,1) 28%, rgba(187,198,183,1) 32%, rgba(187,198,183,1) 34%, rgba(187,198,183,1) 36%, rgba(187,198,183,1) 39%, rgba(187,198,183,1) 42%, rgba(189,201,185,1) 59%, rgba(190,202,186,1) 65%, rgba(191,203,187,1) 71%, rgba(192,204,188,1) 75%, rgba(192,204,188,1) 78%, rgba(192,204,188,1) 83%, rgba(193,205,189,1) 100%);
}

.background-color{

    display: grid;
    align-content: center;
    justify-items: center;
    height: 100vh;
    background: inherit;
};

