*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-color{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(181,193,176,1) 0%, rgba(184,197,180,1) 100%);
}